<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Adiciona Música</title>
		</head>
	<body>

		<h1>Adiciona Música</h1>
            <br />
            <form action="/musica/addmusica" method="post">
                <label >Codigo</label>
                <input type="text" id="codigo" name="CODIGO" nome placeholder="Titulo de Musica">
                <br />
                <br />
                <label >Bot</label>
                <input type="text" id="bot" name="BOT" nome placeholder="Bot">
                <br />
                <br />
                <label >Canal de Voz</label>
                <input type="text" id="cancal_de_voz" name="CANAL_DE_VOZ" nome placeholder="Canal de Voz">
                <br />
                <br />
                <label >Nome</label>
                <input type="text" id="titulo" name="NOME" nome placeholder="Nome">
                <br />
                <br />
                <label >Canal</label>
                <input type="text" id="canal" name="CANAL" nome placeholder="Canal">
                <br />
                <br />
                <label >Duracao</label>
                <input type="time" id="duracao" name="DURACAO" nome placeholder="Duracao">
                <br />
                <br />
                <label >Visualizacao</label>
                <input type="text" id="visualizacao" name="VISUALIZACAO" nome placeholder="Visualizacao">
                <br />
                <br />
                <label >Link da Musica</label>
                <textarea id="link" name="LINK" cols="30" placeholder="Link da Música"></textarea>
                <br />
                <br />
                <label >Data</label>
                <input type="date" id="date" name="DATE" nome placeholder="Data de hoje">
                <br />
                <br />
                <label >Hora</label>
                <input type="time" id="time" name="TIME" nome placeholder="Time">
                <br />
                <br />
                <input type="submit" value="Enviar"/>
            </form>
	</body>
</html>