<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Adiciona Música</title>
		</head>
	<body>

		<h1>Adiciona Música</h1>
            <br />
            <form action="/musica/addmusica" method="post">
                <label >Titulo da Musica</label>
                <input type="text" id="titulo" name="nome" nome placeholder="Titulo de Musica">
                <br />
                <br />
                <label >Link da Musica</label>
                <textarea id="link" name="link" cols="30" placeholder="Link da Música"></textarea>
                <br />
                <input type="submit" value="Enviar"/>
            </form>
	</body>
</html>